.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--secondaryBGcolor);
  padding: 1rem;
  width: 100%;
  z-index: 99;
}

.navlinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
