/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
/* @media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
} */

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --primaryBGcolor: #060606;
    --secondaryBGcolor: #141414;
    --accentcolor: #ff014f;
    --primaryTextcolor: #fbfbfb;
    --secondaryTextcolor: #9f9f9f;
    --buttonHoverColor: #ff014d64;
    --defaultFontWeight: 650;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rajdhani", sans-serif;
    background-color: var(--primaryBGcolor);
    color: var(--primaryTextcolor);
    font-weight: var(--defaultFontWeight);
}

a {
    color: var(--primaryTextcolor);
    text-decoration: none;
}

img {
    transition: transform 0.3s ease;
}

    img:hover {
        transform: scale(1.05);
    }

button {
    background-color: var(--accentcolor);
    color: var(--primaryTextcolor);
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, padding-left 0.3s ease;
}

    button i {
        color: var(--primaryTextcolor);
    }

    button:hover {
        background-color: var(--buttonHoverColor);
        color: var(--primaryTextcolor);
        padding-left: 20px;
    }

input,
textarea {
    background-color: var(--secondaryBGcolor);
    color: var(--primaryTextcolor);
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    margin: 1rem 0.7rem;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
}

.profile-image-container {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-info {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.expertise-section {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
}

.expertise-item {
    border: 0.1px solid var(--accentcolor);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .expertise-item p {
        color: var(--secondaryTextcolor);
        font-size: 1rem;
        font-weight: 500;
    }

i {
    color: var(--accentcolor);
    font-size: 2rem;
    /* margin-bottom: 1rem; */
}

.animated-links {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .animated-links::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: var(--accentcolor);
        transition: width 0.3s ease;
    }

    .animated-links:hover {
        color: var(--accentcolor);
    }

        .animated-links:hover::after {
            width: 100%;
        }

#about {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
    background: radial-gradient( circle at 120% 150%, var(--accentcolor) 0%, var(--secondaryBGcolor) 40%, var(--secondaryBGcolor) 100% );
}

    #about h1 {
        font-size: 2.5rem;
        align-self: center;
    }

.mini-sections {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
}

    .mini-sections > h1 {
        font-size: 2.5rem;
        align-self: center;
    }

#skill-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--secondaryBGcolor);
}

.skill-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--primaryBGcolor);
    overflow: hidden;
}

    .skill-item img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

        .skill-item img:hover {
            transform: translateY(-5px);
        }

.project-filter-container {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    border-radius: 3.5rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--secondaryBGcolor);
}

    .project-filter-container div {
        /* margin-top: 15px; */
        display: flex;
        gap: 0.6rem;
        z-index: 2;
    }

    .project-filter-container i {
        font-size: 1.2rem;
    }

.project-filter-slider {
    width: auto;
    height: auto;
    background-color: #ff014f;
    border-radius: 10px;
    position: absolute;
    pointer-events: none;
    opacity: 0.2;
    z-index: 0;
    transition: left 0.3s ease, width 0.3s ease;
}

.project-image-container {
    position: relative;
    flex: 1;
    max-width: 30vw;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

    .project-image-container img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        transition: transform 0.3s ease;
    }

        .project-image-container img:hover {
            transform: scale(1.05);
        }

.project-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff014da7;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

    .project-tag:hover {
        background-color: #ff014f;
        cursor: pointer;
    }

    .project-tag i {
        margin-right: 0.5rem;
        color: var(--primaryTextcolor);
        font-size: 1rem;
    }

.project-container {
    width: 100%;
    margin-top: 2rem;
    background-color: var(--secondaryBGcolor);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-radius: 20px;
}

.project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

    .project-details h1 {
        font-size: 2rem;
    }

    .project-details p {
        color: var(--secondaryTextcolor);
        font-size: 1rem;
        margin-top: 0.5rem;
    }

.used-stack-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: auto;
}

.used-stack {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--primaryBGcolor);
    transition: transform 0.3s ease, color 0.6s ease;
    cursor: pointer;
}

    .used-stack:hover {
        transform: scale(1.3);
        color: var(--accentcolor);
    }

.button-links {
    padding-top: 1rem;
    margin: 0 auto;
    color: var(--primaryTextcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

    .button-links a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        transition: transform 0.3s ease;
    }

        .button-links a:hover {
            transform: rotate(360deg);
        }



.edu-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--secondaryBGcolor);
}

.edu-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}

.edu-item {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: var(--primaryBGcolor);
}

    .edu-item h2 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
        color: var(--accentcolor);
    }

.shimmer {
    position: relative;
    overflow: hidden;
    background: var(--primaryBGcolor, #060606);
}

    /* shimmer appears only on hover */
    .shimmer:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: -150%;
        height: 100%;
        width: 150%;
        background: linear-gradient( 90deg, transparent, rgba(245, 83, 83, 0.15),
        /* faint white for shine */ transparent );
        animation: shimmer 1.5s 1;
    }

@keyframes shimmer {
    100% {
        left: 150%;
    }
}

#contact {
    background-color: var(--secondaryBGcolor);
}

.contact-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 20px;
}

.contact-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.coffee-tea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

    .coffee-tea img {
        width: 200px;
        height: auto;
        animation: bounce 2s infinite;
        cursor: pointer;
    }

        .coffee-tea img:hover {
            animation-play-state: paused; /* stop bounce */
        }

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    margin: 0.8rem 0;
}

    .social-links img {
        width: 60px;
        height: auto;
    }

        .social-links img:hover {
            animation: bounce 2s infinite;
        }

    .social-links p {
        color: var(--primaryTextcolor);
        font-size: 1.2rem;
        /* font-weight: 500; */
        text-align: center;
    }

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--secondaryBGcolor);
    padding: 1.5rem;
    width: 100%;
    z-index: 99;
    box-shadow: 0 4px 8px 0px rgba(255, 255, 255, 0.804);
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.2rem;
}

    .navlinks a {
        padding: 0.2rem 0.4rem;
        border-radius: 10px;
        transition: background-color 0.5s ease;
    }

        .navlinks a:hover {
            background-color: #ff014d64;
        }

#nav-project i {
    transition: transform 0.6s ease;
}

#nav-project:hover i {
    transform: rotate(180deg);
}

#nav-project-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondaryBGcolor);
    border-radius: 10px;
    padding: 1rem;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    pointer-events: none;
}

    #nav-project-dropdown a {
        transition: padding 0.6s ease, background-color 0.6s ease;
    }

        #nav-project-dropdown a:hover {
            padding-left: 1rem;
        }

.nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--accentcolor);
    background-color: var(--accentcolor);
    cursor: pointer;
    transition: background-color 0.5s ease, border 0.7s ease;
}

    .nav-toggle:hover {
        background-color: var(--primaryBGcolor);
        border: 2px solid var(--accentcolor);
    }

        .nav-toggle:hover .top-ham {
            transform: rotate(-15deg);
        }

        .nav-toggle:hover .mid-ham {
            transform: translateX(3px);
        }

        .nav-toggle:hover .bottom-ham {
            transform: rotate(15deg);
        }

.top-ham {
    width: 20px;
    height: 3px;
    background-color: var(--primaryTextcolor);
    transition: transform 0.3s ease;
}

.mid-ham {
    width: 20px;
    height: 3px;
    background-color: var(--primaryTextcolor);
    transition: transform 0.3s ease;
}

.bottom-ham {
    width: 20px;
    height: 3px;
    background-color: var(--primaryTextcolor);
    transition: transform 0.3s ease;
}

/* The side menu (hidden by default) */
.side-menu {
    position: fixed;
    top: 0;
    right: -350px; /* hidden off-screen */
    width: 350px;
    height: 100%;
    background-color: var(--secondaryBGcolor);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.6s ease;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    z-index: 999;
    gap: 2rem;
}

    /* When menu is active */
    .side-menu.active {
        right: 0;
    }

/* Optional overlay for background */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 998;
    backdrop-filter: blur(5px);
}

    .menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }

body.menu-open {
    overflow: hidden;
    height: 100%; /* ensures no scrollbars */
}

.side-menu::-webkit-scrollbar {
    display: none;
}

/* Initial hidden state */
.slide-in {
    opacity: 0;
    transform: translateY(50px); /* starts slightly below */
    transition: all 0.6s ease-out;
}

    /* Visible state */
    .slide-in.show {
        opacity: 1;
        transform: translateY(0);
    }

#certificate {
    background-color: var(--secondaryBGcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cert-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.cert-item {
    background-color: var(--primaryBGcolor, #060606);
    color: var(--textColor, #fff);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 300px;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .cert-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    }

    .cert-item img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

.cert-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

    .cert-details h2 {
        font-size: 1.5rem;
        color: var(--accentColor, #ff014f);
        margin-bottom: 0.5rem;
    }

.cert-info {
    font-weight: 400;
}

.cert-details p span {
    font-weight: bold;
    color: var(--accentColor, #ff014f);
}

.cert-details button {
    width: fit-content;
}

.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.project-card-mini {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    gap: 1rem;
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--secondaryBGcolor);
    transition: transform 0.3s ease;
}

    .project-card-mini:hover {
        transform: translateY(-5px);
    }

    .project-card-mini img {
        width: 100px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        aspect-ratio: 1/1;
    }

.project-card-mini-rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.addSthForm div {
    display: flex;
    flex-direction: column;
}

.addSthForm input {
    margin-left: 0;
}

.addSthForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40vw;
    background-color: var(--secondaryBGcolor);
    padding: 2rem;
    border-radius: 20px;
}
